Package: opkg.py
Priority: optional
Section: system
Source: http://devnull.networld.to/git/gitweb.cgi?p=proggs.git;a=tree;f=opkg;h=782f85c6d36090c52e8ba4e2f2f52b5a8435b9bb;hb=29ee4b568b0f34f9b18c897f8f1eb278270c0d80 
Version: 0.01
Depends: python-sqlite3, python-xml, python-subprocess
Architecture: armv4t
Maintainer: Alex Oberhauser <oberhauseralex@networld.to>
Description: Implementation of www.opkg.org API
 .
